<div data-role="page" id="folderPage">
    <div data-role="panel" id="defaultPanel" data-swipe-close="true">
    </div><!-- /panel -->

    <div data-role="header" data-position="fixed">
        <a href="#defaultPanel" class="ui-icon-nodisc" data-role="button" data-iconshadow="false" data-icon="bars" data-iconpos="notext" data-inline="true">Menu</a>
        <h1 class="title" id="title"></h1>
        <a href="#" data-icon="edit" data-iconpos="notext">Nova Mensagem</a>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true" id="messageList">
        </ul>
    </div>
</div><!-- /page -->
