<div data-role="page" id="loginPage">
    <div data-role="header">
        <h1>Acesso</h1>
    </div>
    <form>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="user">Usuário:</label>
            <input type="text" name="user" id="user" value="iphone.prodeb" data-clear-btn="true" placeholder="Usuário">
        </div>
        <div data-role="fieldcontain" class="ui-hide-label">
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" value="iphone" autocomplete="off" data-clear-btn="true" placeholder="Senha">
        </div>
        <div class="ui-body ui-body-c">
            <input type="submit" value="Login" id="loginButton" data-theme="a" >
        </div>
    </form>
</div>
