<div data-role="page" id="messagePage" data-content-theme="d">
    <div data-role="header" data-position="fixed">
      <a class="backButton" data-transition="slide" data-reverse="true"  data-role="button" data-rel="back" data-direction="reverse" data-icon="arrow-l" data-iconpos="notext" >Voltar</a>
        <h1 class="title" id="title"></h1>
        <a href="#" data-icon="edit" data-iconpos="notext" class="ui-btn-right">Nova Mensagem</a>
    </div>
    <div data-role="content">
    </div>
    <div data-role="footer" data-position="fixed" class="bottom-nav">
      <div data-role="controlgroup" data-type="horizontal" data-mini="true">
          <a href="#" data-role="button" data-iconpos="notext" data-icon="back">Responder</a>
          <a href="#" data-role="button" data-iconpos="notext" data-icon="forward">Encaminhar</a>
          <a href="#" data-role="button" data-iconpos="notext" data-icon="delete">Apagar</a>
      </div>
    </div>
</div><!-- /page -->
