<div data-role="page" id="messageFormPage">
    <div data-role="header" data-position="fixed">
        <a class="backButton" data-transition="slide" data-reverse="true"  data-role="button" data-rel="back" data-direction="reverse" data-icon="arrow-l" data-iconpos="notext" >Voltar</a>
        <h1 class="title" id="title"></h1>
        <a id="sendButton" data-role="button" class="ui-btn-right">Enviar</a>
    </div>
    <div data-role="content">
        <form>
            <ul data-role="listview" id="messageFormItem">
            </ul>
        </form>
    </div>
</div>
